<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.hzh.demo"/>

    <context:property-placeholder location="WEB-INF/jdbc.properties"/>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" p:basename="message"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
          p:driverClassName="${jdbc.driverClassName}"
          p:password="${jdbc.password}"
          p:username="${jdbc.username}"
          p:url="${jdbc.url}"/>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="dataSource"
          p:configLocation="WEB-INF/Configure.xml"/>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          p:sqlSessionFactoryBeanName="sqlSessionFactory"
          p:basePackage="com.hzh.demo.mapper"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <tx:annotation-driven/>


    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"
          p:host="${Mail.Server}"
          p:port="${Mail.Port}"
          p:username="${Mail.Username}"
          p:password="${Mail.Password}"
          p:defaultEncoding="${default-encoding}"
          p:protocol="${Mail.protocol}">
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${Mail.auth}</prop>
                <prop key="mail.display.sendmail">${Mail.display.sendmail}</prop>
                <prop key="mail.smtp.starttls.enable">${Mail.starttls.enable}</prop>
                <prop key="mail.smtp.starttls.required">${Mail.starttls.required}</prop>
                <prop key="mail.smtp.ssl.enable">${Mail.ssl.enable}</prop>
            </props>
        </property>
    </bean>




</beans>